name: Swift

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build and run Tests
      run: xcodebuild -enableCodeCoverage YES -scheme SwiftPlantUML-Package -sdk macosx clean build test
    - name: Upload code coverage results
      run: bash <(curl -s https://codecov.io/bash) -t f913eaee-1802-4688-8b85-bbb28316592f
    - name: Installable
      run: |
        make install
        swiftplantuml --help